<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input
          matInput
          placeholder="Placeholder"
          formControlName="name"
          required
        />
        <mat-hint>No special characters </mat-hint>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field hintLabel="Max 10 characters" appearance="outline">
        <mat-label>Enter some input</mat-label>
        <input
          matInput
          #input
          maxlength="10"
          placeholder="Enter youtr phone number "
        formControlName="phone"
          required
        />
        <mat-hint align="end">{{ input.value?.length || 0 }}/10</mat-hint>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          type="email"
          required
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!signupForm.valid"
      (click)="onSubmit()"
    >
      Submit
    </button>
    <!-- <button
    mat-raised-button
    color="primary"
    type="submit"

    (click)="updateuser()"
  >
    Update User
  </button> -->
  </form>
<hr>
name={{data?.name}}    |     phone{{data?.phone}}     |   email={{data?.email}}
<hr>
  <table class="table">
    <thead class="thead-light">
        <tr>
          <th>Update</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listuser">
          <td>
            <mat-icon (click)="getuser(item)">update</mat-icon>
          </td>
            <td>{{ item.name }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.email }}</td>
            <td>
                <mat-icon (click)="deleteuser(item?._id)">delete</mat-icon>

            </td>
        </tr>
    </tbody>
</table>

</div>
